@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #314D97;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/*Container Branco*/
.container {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba (0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    text-align: center;
    max-width: 100%;
    width: 800px;
}

/*Titulo*/
h3 {
    opacity: 0.9;
    color: #314D97;
}

/*Imagem*/
img {
    width: 90px;
}

/* === RATIO Inicio === */
.ratioBox {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.ratioEscolha {
    height: 100px;
    width: 100px;
    position: relative;
}

input[type="radio"] {
    -webkit-appearance: none;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #314D97;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 0px 0px rgba(2, 28, 53, 0, 0.5);
    border: 3px solid transparent;
    outline: none;
}

/* RATIO = icon ° */
input[type="radio"]:after {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f111";
    font-size: 16px;
    top: 10px;
    left: 10px;
    color: #e2e6f3;
}

input[type="radio"]:hover {
    transform: scale(1.03);
}

input[type="radio"]:checked {
    border: 3px solid #0d1221;
}

input[type="radio"]:checked:after {
    font-weight: 900;
    content: "\f058";
    color: #f0f1f2;
}

@keyframes grow {
    50% {
        font-size: 30px;
    }
}

/* RATIO = label config */
.labelRatio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 80%;
    width: 100%;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}

label h6 {
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    font-weight: 700;
    color: #f0f1f2;
}

label .fa-solid {
    font-size: 20px;
    color: #f0f1f2;
}

input[type="radio"]:checked+label .fa-solid {
    animation: grow 0.5s;
}

/* === RATIO Final === */

/* === DATE Inicio === */

.dateBox {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 40px;
}

.dateEscolha {
    height: 40px;
    width: 120px;
    position: relative;
}

input[type="date"] {
    -webkit-appearance: none;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #314D97;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 0px 0px rgba(2, 28, 53, 0, 0.5);
    border: 3px solid transparent;
    outline: none;
    color: #e2e6f3;
}

::-webkit-calendar-picker-indicator {
    background-color: #fff;
    padding: 4px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.dateEscolha h6 {
    padding-top: 5px;
    font-size: 14px;
    color: #314D97;
    font-weight: 700;
}

/* API irá aparecer aqui*/
.cotacao {
    margin: 30px;
    background-color: #314D97;
    color: #fff;
    padding: 1em;
    font-size: 1.2em;
    opacity: 0.8;
}

/*Botao*/
.btn {
    background-color: #314D97;
    color: #fff;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 40px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: 0;
}

/* ---- */